.posts__list {
  list-style: none;
  padding: 0;
}

.posts__add-new {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid aliceblue;
  color: aliceblue;
  &:hover {
    color: rgb(198, 201, 202);
    border: 1px solid rgb(198, 201, 202);
    cursor: pointer;
  }
}
